BOT_TOKEN=7905598523:AAF2pNKuTMsozrNu0aAEYCUPOzwnxLl9HZA
ADMIN_ID=8156708830
MONGO_URL=mongodb+srv://HYPER-KA-BETA-KENZO:Fc1cWDUgyUlHQ9bU@cluster0.acqtsqp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
CHANNEL_URL=https://t.me/ThronexCodex
SUPPORT_GROUP_URL=https://t.me/Thronex_chats
