BOT_TOKEN=8497272941:AAHYf7iCRKJuKlh5eThRy6p35Bc7Bw2b7rc
ADMIN_ID=8156708830
MONGO_URL=mongodb+srv://HYPER-KA-BETA-KENZO:Fc1cWDUgyUlHQ9bU@cluster0.acqtsqp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
CHANNEL_URL=https://t.me/ThronexCodex
SUPPORT_GROUP_URL=https://t.me/Thronex_chats
